<section class="banner container text-center">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide rounded-5 col-md-8" style="width: 840px;height: 320px">
            <div class="carousel-indicators mt-5">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active rounded-5">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/YearEndSaleT124__SLide_840x320.jpg" class="d-block w-100 rounded-2 mt-4" alt="...">
                </div>
                <div class="carousel-item rounded-5">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/Magiam_Slidebanner_840x320.png" class="d-block w-100 rounded-2 mt-4" alt="...">
                </div>
                <div class="carousel-item rounded-5">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/BlindBoxT124_Banner_Slide_840x320.jpg" class="d-block w-100 rounded-2 mt-4" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev mt-5" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
            <button class="carousel-control-next mt-5" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="">
                        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-01-2024/PNJ_392x156%201.jpg" class="mt-4 rounded-3" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="">
                        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-01-2024/VNPay_392x156.jpg" class="mt-2 rounded-3" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="banner container mt-5 text-center">
    <div class="row">
        <div class="col-md-3 ">
            <a href="">
                <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-12-2023/Magiam_Smallbanner_310x210.png" class="rounded-3" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-01-2024/ForeignBooks_SmallBannerT1_310x210.png" class="rounded-3" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-01-2024/TrangTetT1223_SmallBanner_310x210_1.jpg" class="rounded-3" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-01-2024/DiamondT124_Banner_Ver1SmallBanner_310x210_2.png" class="rounded-3" alt="">
            </a>
        </div>
    </div>
</section>